@model RasmusWebShop.ViewModels.ProductsIndexViewModel

@{
	ViewData["Title"] = ": " + "Products";
	if (Model.q != null)
	{
		if(Model.Products.Count != 0)
		{ 
			<h1>Search result for: @Model.q</h1>
			ViewData["Title"] = ": " + Model.q;
		}
		else
		{
			<h1>No result found for: @Model.q</h1>
			ViewData["Title"] = ": " + Model.q;
		}
	}
	else
	{
		<h1>All products</h1>
	}
}

<div class="row info d-flex align-items-center justify-content-center">
	@foreach (var product in Model.Products)
	{
		<div class="product-thumbnail col-lg-3 col-md-5 col-sm-10 shadow m-3 border">
			<a asp-controller="Products" asp-action="Product" asp-route-Id="@product.Id">
				<img src="~/img/product.png" class="img-fluid mt-3" alt="Responsive image">
				<h3 class="mt-2 p-2">@product.Title</h3>
			</a>
			<p class="p-2 d-inline-block">$ @product.Price</p>
			<a asp-controller="Products" asp-action="Edit" asp-route-Id="@product.Id">	
				<button class="btn btn-secondary float-right mb-2 edit-text">
					<p class="">Edit</p>
				</button>
			</a>
		</div>

	}
</div>
