@model RasmusWebShop.ViewModels.ProductsIndexViewModel

@{
	ViewData["Title"] = ": " + "Products";
	<ol class="breadcrumb bg-transparent">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
		<li class="breadcrumb-item"><a asp-controller="Products" asp-action="Index">Products</a></li>
	</ol>
	<div class="row d-flex align-items-center justify-content-center card-body prod-row">
		@if (String.IsNullOrEmpty(Model.q))
		{ 
			@foreach (var categorie in Model.Categories)
			{
				<div class="pl-2 pr-2">
					<a asp-controller="Products" asp-action="Category" asp-route-Id="@categorie.Id" class="btn bg-orange rounded-pill shadow-sm"><h4 class="m-1">@categorie.Title</h4></a>
				</div>
			}
		}
		else
		{
			<div class="p-5 mt-5">
				<a asp-controller="Products" asp-action="Index" class="btn bg-orange rounded-pill shadow-sm"><h4 class="m-1">Back</h4></a>
			</div>
		}
	</div>
	if (!String.IsNullOrEmpty(Model.q))
	{
		if (Model.Products.Count != 0)
		{
			<h1>Search result for: @Model.q</h1>
			ViewData["Title"] = ": " + Model.q;
		}
		else
		{
			<h1 class="p-5">No result found for: @Model.q</h1>
			ViewData["Title"] = ": " + Model.q;
		}
	}
	else
	{
		<h1>All products</h1>
	}
}


<div class="row info d-flex align-items-center justify-content-center">
	@foreach (var product in Model.Products)
	{
		<div class="product-thumbnail col-lg-3 col-md-5 col-sm-10 shadow m-3 border">
			<a asp-controller="Products" asp-action="Product" asp-route-Id="@product.Id">
				<img src="~/img/product.png" class="img-fluid mt-3" alt="Responsive image">
				<h3 class="mt-2 p-2">@product.Title</h3>
			</a>
			<p class="p-2 d-inline-block">$ @product.Price</p>
			<a asp-controller="Products" asp-action="Edit" asp-route-Id="@product.Id">
				<button class="btn btn-secondary float-right mb-2 edit-text">
					<p class="">Edit</p>
				</button>
			</a>
		</div>

	}
</div>
